{% load static %}
<nav class="bg-slate-100">
    <div class="mx-auto max-w-7xl">
      <div class="relative flex h-16 items-center justify-between">
        
        <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
          <div class="flex flex-shrink-0 items-center">
            <img class="h-8 w-auto rounded-md" src="{% static 'noivos/img/logo.webp' %}">
          </div>
          <div class="hidden sm:ml-6 sm:block">
            <div class="flex">
              <a href="{% url 'home' %}" class="rounded-md px-3 py-2 text-sm font-medium text-gray-900 hover:bg-gray-700 hover:text-white">Lista de presentes</a>
              <a href="" class="rounded-md px-3 py-2 text-sm font-medium text-gray-900 hover:bg-gray-700 hover:text-white">Convidados</a>
            </div>
          </div>
        </div>
 
      </div>
    </div>
  
    
  </nav>
  